<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>inspiratofoto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7BF31F01DDE5F1C004CD102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7BF32041DDE5F1C004CD102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7BF320F1DDE5F1C004CD102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
